@import 'variables';

@mixin h1-title {
  color: $black;
  font-size: 64px;
  font-family: $font-lato;
  font-style: normal;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 0px;
}


@mixin h2-title {
  color: $black;
  font-size: 36px;
  font-family: $font-lato;
  font-style: normal;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 1px;
}

@mixin h3-title {
  color: $black;
  font-size: 24px;
  font-family: $font-lato;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

@mixin h4-title {
  color: $gray-strong;
  font-size: 18px;
  font-family: $font-lato;
  font-style: normal;
  font-weight: 400;
}

@mixin card-description {
  color: $black;
  font-size: 18px;
  font-family: $font-lato;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

@mixin base-text {
  color: $black;
  font-size: 16px;
  font-family: $font-lato;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

@mixin p-text {
  color: $black;
  font-size: 14px;
  font-family: $font-lato;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

@mixin small-text {
  color: $gray-strong;
  font-size: 12px;
  font-family: $font-lato;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}